<h2>My Heroes </h2>
<div>
  <label>
    Hero Name:
    <input #heroName/>
    <button (click)="add(heroName.value); heroName.value=''">Add</button>
  </label>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
      <a

      [class.selected]="hero===selectedHero" (click)="onSelect(hero)"
      routerLink='/detail/{{hero.id}}'><span class="badge">{{hero.id}}</span>{{hero.name}}
      </a>
      <button (click)="delete(hero)" class="delete" title="Delete Hero">x</button>
  </li>

</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>


